@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

.App {
 
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: aqua;
  font-family: "JetBrains Mono", monospace;
  background-color: antiquewhite;
}
.header {
  display: flex;
  position: absolute;
  justify-content: space-around;
  padding: 10px;
  top: 0px;
  left: 0px;
  gap: 15px;
  width: 100vw;
  height: 100px;
  background-image: linear-gradient(
    to right top,
    #6bd184,
    #5ec672,
    #52bb60,
    #45b04d,
    #39a53a,
    #329e33,
    #2a972c,
    #219024,
    #1d8a29,
    #1a852d,
    #187f30,
    #177933
  );
}

form {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

a {
  padding: 5px;
  padding-top: 15px;
  border-radius: 10px;
}

.main {
  display: flex;
  width: 100vw;
  height: 95vh;

  background-image: url(./components/fondo.jpg);
}
.footer {
  justify-content: center;
  align-items: center;
  background-color: #187f30;
  display: flex;
  gap: 20px;
  width: 100vw;
  height: 10vh;
  padding-top: 10px;
  padding-right: 50px;
  background-image: linear-gradient(
    to right top,
    #6bd184,
    #5ec672,
    #52bb60,
    #45b04d,
    #39a53a,
    #329e33,
    #2a972c,
    #219024,
    #1d8a29,
    #1a852d,
    #187f30,
    #177933)
  
 
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}
.formulariocli {
  margin-top: 250px;
  gap: 5px;
  width: 30vw;
  height: 40vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.formulariopro {
  margin-top: 250px;
  gap: 5px;
  width: 30vw;
  height: 40vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.Proveedores {
  text-align: center;
  width: 320px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  outline: none;
}
.formularioprove {
  margin-top: 250px;
  gap: 5px;
  width: 30vw;
  height: 40vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.producto{
  text-align: center;
  width: 320px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  outline: none;
}

